body::before {
  display: block;
  content: "";
}

.bg-img1 {
  width: 100%;
  height: 75vh;
  background-image: url(../img/anh_1.jpg);
  background-size: cover;
}
.bg-img2 {
  width: 100%;
  height: 75vh;
  background-image: url(../img/anh_2.jpg);
  background-size: cover;
}
.bg-img3 {
  width: 100%;
  height: 75vh;
  background-image: url(../img/anh_3.jpg);
  background-size: cover;
}
